@tailwind base;
@tailwind components;
@tailwind utilities;


.blur {
    @apply h-full w-full fixed bg-gray-500 bg-opacity-25;
    background-image: url('../logo.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    transform: scale(1.1);
}